
.wrapper {
    max-width: 70%;
    min-height: 50%;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #5c5b5a;
    border-radius: 100px;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}